@import url("https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --not-black: rgb(37, 37, 37);
}

body {
  background-color: rgb(211, 211, 211);
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darkBGListItem {
  background-color: var(--not-black);
}

.lightBGListItem {
  background-color: rgb(47, 47, 47);
}

#results .listItem {
  margin-top: 15px;
  width: 100vw;
  height: 80px;
  text-align: center;
  color: whitesmoke;
  display: grid;
  place-items: center;
}

#results p {
  font-family: "Sniglet";
  font-size: 1.8em;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  height: 100vh;
}

.cowBG {
  position: fixed;
  top: 0;
  background-image: url("dairy-images/cowbg.jpg");
  background-repeat: repeat;
  opacity: 4%;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerText {
  user-select: none;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.preText {
  font-family: "Sniglet";
  font-size: 7em;
  font-weight: 400;
  color: var(--not-black);
}

.postText {
  margin-top: -20px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 9em;
  font-family: "Sniglet";
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.searchBox {
  background: rgb(236, 236, 236);
  margin-top: 25px;
  border-radius: 25px;
  border: 1px solid #848484;
  outline: 0;
  height: 75px;
  width: 50%;
  font-family: "Sniglet";
  text-align: center;
  font-size: 4em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  padding-right: 15px;
  padding-left: 15px;
  transition: width 200ms, height 100ms, font-size 200ms, box-shadow 200ms;
  color: rgb(37, 37, 37);
  outline: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.336);
}

.searchBox:focus {
  width: 55%;
  font-size: 4.5em;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.336);
}

.searchBtn {
  margin-top: 25px;
  background-color: var(--not-black); /* Green */
  border: none;
  font-family: "Sniglet";
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  border-radius: 15px;
  transition: padding 200ms, background-color 200ms, color 200ms;
  cursor: pointer;
}

.searchBtn:hover {
  padding: 15px 64px;
  background-color: white;
  color: var(--not-black);
}

footer {
  font-family: "Sniglet";
  font-size: 0.9em;
  margin: auto;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 15px;
}
@media only screen and (min-width: 300px) {
  .preText {
    font-size: 2.5em;
  }

  .postText {
    font-size: 3.5em;
    margin-top: -10px;
  }

  .searchBox {
    font-size: 2em;
    width: 70%;
  }

  .searchBox:focus {
    font-size: 2.5em;
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .preText {
    font-size: 4em;
  }

  .postText {
    font-size: 5em;
    margin-top: -10px;
  }

  .searchBox {
    font-size: 2em;
    width: 70%;
  }

  .searchBox:focus {
    font-size: 2.5em;
    width: 80%;
  }
}

@media only screen and (min-width: 1100px) {
  .preText {
    font-size: 6em;
  }

  .postText {
    font-size: 7em;
    margin-top: -10px;
  }

  .searchBox {
    font-size: 3em;
    width: 440px;
  }

  .searchBox:focus {
    font-size: 3em;
    width: 540px;
  }
}
