@import url("https://fonts.googleapis.com/css?family=Cabin|Caveat|Crete+Round|Fredoka+One&display=swap");

* {
  box-sizing: border-box;
  --main-text-color: rgb(67, 194, 88);
  --smooth-shadow: rgba(0, 0, 0, 0.7);
  --main-bg-color: rgba(32, 32, 32, 0.95);
  user-select: none;
  -moz-user-select: none;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fredoka One";
  background-color: rgb(39, 39, 39);
}

#bgCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-image: url(images/bg1.jpg);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.nav-links {
  position: relative;
  border-left: 15px solid var(--main-text-color);
  border-right: 15px solid var(--main-text-color);
  height: 66px;
  display: flex;
  font-size: 2rem;
  color: white;
  list-style: none;
  align-items: center;
  padding: 0;
  font-family: "Crete Round";
}

.list {
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
  height: 75%;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 15px;
  margin-left: 15px;
  transition: 200ms ease;
  white-space: nowrap;
}

.nav-item:hover {
  color: var(--main-text-color);
  cursor: pointer;
  text-decoration: underline;
}

.hero {
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-bg-color);
  border-top: 5px solid rgba(52, 155, 70, 0.6);
  border-bottom: 5px solid rgba(52, 155, 70, 0.6);
}

.hero h1 {
  font-size: 6em;
  color: var(--main-text-color);
  margin-bottom: 0;
  white-space: nowrap;
  text-shadow: 0 0 5px var(--smooth-shadow);
}

.hero h3 {
  color: white;
  font-size: 5em;
  margin-bottom: 0;
  margin-top: -25px;
  text-align: right;
  letter-spacing: 2px;
  white-space: nowrap;
  text-shadow: 0 0 5px var(--smooth-shadow);
}

.hero::before {
  content: "";
  transform: translateX(-500px);
  transition: 700ms ease;
}

.logo {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 50px;
  margin-bottom: 65px;
  transition: 1200ms ease;
}

.hero img {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 150px;
  right: 0;
  bottom: 65px;
}

/* */

.arrow {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 2%;
  left: 50%;
  color: var(--main-text-color);
  font-size: 4em;
  animation-duration: 1s;
  animation-name: hover;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-shadow: 0 0 10px var(--smooth-shadow);
  z-index: 1;
}

.arrow:hover {
  cursor: pointer;
  color: white;
  transition: 300ms ease;
  text-shadow: 0 0 5px black;
}

@keyframes hover {
  from {
    bottom: 2%;
  }

  to {
    bottom: 1%;
  }
}

/* SECOND CONTENT AREA */

#secondContent {
  display: block;
  margin: 0;
  padding: 0;
  box-shadow: 0 -5px 15px rgb(39, 39, 39);
  background: #3d3d3d;
}

.aboutme {
  width: 100vw;
  height: 300vh;
}

.whoami {
  position: absolute;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.whoami h1 {
  color: white;
  font-family: "Crete Round";
  font-size: 5em;
  text-shadow: 0 0 15px var(--smooth-shadow);
  margin: 0;
}

.whoami p {
  padding-left: 15px;
  color: white;
  font-family: "Cabin";
  font-size: 1.5em;
  margin: 0;
  text-shadow: 0 0 5px var(--smooth-shadow);
}

.whoami .meimg {
  height: 100%;
  display: flex;
  align-items: center;
}

.whoami img {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 5px solid var(--main-text-color);
  box-shadow: 0 3px 5px rgb(41, 41, 41);
  width: 425px;
  z-index: 2;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-top: 15px;
  display: flex;
  gap: 15px;
}

.contactIcon {
  font-size: 4em;
  color: white;
  text-shadow: 0 0 3px var(--smooth-shadow);
  z-index: 1;
}

.contactIcon:hover {
  cursor: pointer;
  color: var(--main-text-color);
  transition: 300ms ease;
}

/*  */

/* THIRD CONTENT AREA */

#thirdContent {
  display: block;
  margin: 0;
  padding: 0;
  box-shadow: 0 -5px 15px rgb(39, 39, 39);
  background-color: var(--main-bg-color);
}

.skillsSection {
  position: absolute;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillsSection h1 {
  color: white;
  font-family: "Crete Round";
  font-size: 4em;
  text-shadow: 0 0 15px var(--smooth-shadow);
  margin: 0;
}

.skillsSection h3 {
  color: rgb(131, 131, 131);
  font-family: "Cabin";
  font-weight: 900;
}

.skillsChart {
  width: 50vw;
  padding: 25px;
  background-color: rgb(19, 19, 19);
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--smooth-shadow);
  z-index: 1;
}

.rotate180 {
  transform: scaleX(-1) rotateZ(180deg);
}

.area {
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;

  padding-bottom: 15px;
}

.circles {
  padding-top: 0;
  margin-top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.thirdContent .circles li {
  background: rgba(255, 255, 255, 0.432);
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 1450px) {
  .hero h1 {
    font-size: 5em;
  }

  .hero h3 {
    font-size: 4em;
  }
}

@media only screen and (max-width: 1250px) {
  .hero h1 {
    font-size: 3em;
  }

  .hero h3 {
    font-size: 2em;
    margin-top: -15px;
  }

  .logo {
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
  }

  .hero h3 {
    font-size: 3em;
  }

  .logo {
    margin-bottom: 0;
  }

  .nav-links {
    margin-top: 15px;
  }

  .nav-item {
    font-size: 0.75em;
  }
  .arrow {
    left: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    border-bottom: none;
    border-top: none;
  }

  #bgCanvas {
    display: none;
  }

  .hero h1 {
    font-size: 2.2em;
  }

  .hero h3 {
    margin-top: -10px;
    font-size: 2em;
  }
  .hero img {
    width: 50px;
  }

  .logo {
    margin-right: 0;
    background-color: black;
    width: 100vw;
    padding: 0px 50px 15px 50px;
    border-bottom: 3px solid var(--main-text-color);
  }

  .nav-links {
    margin-top: 15px;
    font-size: 1.5em;
    height: 50px;
    border-left: 5px solid var(--main-text-color);
    border-right: 5px solid var(--main-text-color);
  }

  .list {
    height: 100%;
  }

  .arrow {
    left: 45%;
  }
}
