*,
*::before,
*::after {
  box-sizing: border-box;
  --ff-main: "Oswald";
  --clr-100: rgb(212, 212, 212);
  --clr-200: rgb(24, 24, 24);
  --clr-rarity-purple: #B200FF;
  --clr-rarity-blue: #0094FF;
  --clr-rarity-gray: #808080;
}

body {
  margin: 0;
  background-color: black;
}

h1 {
  font-family: var(--ff-main);
  text-transform: uppercase;
  margin: 0;
  margin-inline: 0rem;
  line-height: 5rem;
  font-size: 5rem;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  text-align: center;
}

.main h2 {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

h2 {
  text-align: center;
  font-family: var(--ff-main);
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  margin-bottom: 0rem;
  max-height: 100%;
}

.gameType {
  padding: 0;
  margin-bottom: 2rem;
  width: 100%;
  background-color: var(--clr-200);
}

.footer h2 {
  font-size: 2rem;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
  color: var(--clr-200) !important;
  display: inline-block;
}

h3 {
  text-align: center;
  max-height: 100%;
  color: var(--clr-100);
  font-family: var(--ff-main);
  font-size: 2rem;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  margin: 0;
}

.text-center {
  text-align: center;
}

.headerBanner {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  color: white;
  height: 10vh;
}

.column {
  height: 100vh;
}

.row {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.15);
  background-blend-mode: darken;
  background-image: url("apeximg/kc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--clr-100);
  border: 5px solid var(--clr-200);
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.15);
  background-blend-mode: darken;
  background-image: url("apeximg/kc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--clr-100);
}

.full-size {
  height: 100%;
}

.items {
  display: flex;
  gap: 15px;
}

.dailyItems, .weeklyItems, .guns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dailyItem, .weeklyItem, .gun {
  font-family: var(--ff-main);
background-color: rgba(0,0,0,0.8);
border-radius: 10px;
padding: 5px;
height: 64px;
width: 150px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
border: 3px solid black;
font-size: 20px;
color: white;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.itemImg {
  width: 40px;
  border-radius: 10px;
}

.gunImg {
  width: 75px;
  border-radius: 5px;
  height: 30px;
  object-fit: cover;
}

.footer {
  border-inline: 5px solid var(--clr-200);
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
border: 5px solid var(--clr-200);
  background-image: url("apeximg/crafting.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  align-items: center;
}

@media (forced-colors: active) {
  .footer h2 {
    color: var(--clr-200) !important;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 5rem;
    line-height: 1rem;
  }

  h2 {
    font-size: 4rem;
  }

  .row {
    flex-direction: row;
  }

  .full-size {
    height: 80%;
  }

  .column {
    width: calc(100% / 3);
  }

  .footer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 3rem;
    line-height: 1rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  h1 {
    font-size: 5rem;
    line-height: 1rem;
  }

  h3 {
    font-size: 3rem;
  }

  .row {
    flex-direction: row;
  }

  .column {
    width: calc(100% / 3);
  }

  .full-size {
    height: 80%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  h1 {
    font-size: 8rem;
    line-height: 8rem;
  }

  h2 {
    font-size: 3rem;
  }

  .column {
    width: 100%;
  }

  .full-size {
    height: 80%;
  }
}