*,
*::before,
*::after {
  box-sizing: border-box;
  --ff-main: "Oswald";
  --clr-100: rgb(212, 212, 212);
  --clr-200: rgb(24, 24, 24);
}

body {
  margin: 0;
  background-color: black;
}

h1 {
  font-family: var(--ff-main);
  text-transform: uppercase;
  margin: 0;
  margin-inline: 0rem;
  line-height: 5rem;
  font-size: 5rem;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  text-align: center;
}

.main h2 {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

h2 {
  text-align: center;
  font-family: var(--ff-main);
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  margin-bottom: 0rem;
  max-height: 100%;
}

.gameType {
  padding: 0;
  margin-bottom: 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.footer h2 {
  font-size: 2rem;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
  color: var(--clr-200) !important;
  display: inline-block;
}

h3 {
  text-align: center;
  max-height: 100%;
  color: var(--clr-100);
  font-family: var(--ff-main);
  font-size: 2rem;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  margin: 0;
}

.text-center {
  text-align: center;
}

.headerBanner {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  height: 10vh;
}

.column {
  height: 100vh;
}

.row {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.15);
  background-blend-mode: darken;
  background-image: url("apeximg/kc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--clr-100);
}

.full-size {
  height: 100%;
}

.footer {
  border-top: 5px solid var(--clr-200);
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("apeximg/ol.png");
  background-size: cover;
  background-position: center;
  align-items: center;
}

@media (forced-colors: active) {
  .footer h2 {
    color: var(--clr-200) !important;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 5rem;
    line-height: 1rem;
  }

  h2 {
    font-size: 4rem;
  }

  .row {
    flex-direction: row;
  }

  .full-size {
    height: 80%;
  }

  .column {
    width: calc(100% / 3);
  }

  .footer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 3rem;
    line-height: 1rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  h1 {
    font-size: 5rem;
    line-height: 1rem;
  }

  h3 {
    font-size: 3rem;
  }

  .row {
    flex-direction: row;
  }

  .column {
    width: calc(100% / 3);
  }

  .full-size {
    height: 80%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  h1 {
    font-size: 8rem;
    line-height: 8rem;
  }

  h2 {
    font-size: 3rem;
  }

  .column {
    width: 100%;
  }

  .full-size {
    height: 80%;
  }
}