*,
*::before,
*::after {
  box-sizing: border-box;
  --ff-main: "Oswald";
  --clr-100: rgb(212, 212, 212);
  --clr-200: rgb(24, 24, 24);
  --clr-rarity-purple: #B200FF;
  --clr-rarity-blue: #0094FF;
  --clr-rarity-gray: #808080;
}

/* DARK TOGGLE */
.checkbox{
  opacity: 0;
  position: absolute;
}

.label{
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  margin-top: 25px;
  margin-right: 25px;
  cursor: pointer;
}
.ball{
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.dark button{
  background-color: white;
  color: black;
}
.dark .ball{
  background-color: black;
}
.dark .label{
  background-color: white;
}

/* END DARK TOGGLE */

/* LOADER */

/* LOADING SCREEN */
.loader {
  z-index: 11;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-100);
  transition: all 0.5s;
  transition: opacity 300ms ease-out;
}

.loader .loadingText {
  font-family: var(--ff-accent);
  text-align: center;
  vertical-align: text-top;
  font-size: 50px;
  font-weight: normal;
  animation: wave 0.5s ease-out infinite;
  transform-origin: 50% bottom;
  padding-bottom: 10px;
}

.loader .ring {
  height: 200px;
  width: 200px;
  border: 15px solid var(--clr-100);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .ring:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 25px solid var(--clr-rarity-purple);
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: rotate 2s linear infinite;
}

.loader .ring2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

.loader .ring2:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 15px solid var(--clr-rarity-blue);
}

/* WAVE ANIMATION */
@keyframes wave {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* RING ROTATION ANIMATION */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverse {
  100% {
    transform: rotate(-360deg);
  }
}

/*  */

body {
  margin: 0;
  background-color: var(--clr-100);
  transition: all 0.3s ease;
}

h1 {
  font-family: var(--ff-main);
  text-transform: uppercase;
  margin: 0;
  margin-inline: 0rem;
  line-height: 5rem;
  font-size: 5rem;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  text-align: center;
}

h2 {
  text-align: center;
  font-family: var(--ff-main);
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  margin-bottom: 0rem;
  max-height: 100%;
}

.gameType {
  padding: 0;
  margin-bottom: 2rem;
  width: 100%;
}

.footer h2 {
  font-size: 2rem;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
  color: var(--clr-200) !important;
  display: inline-block;
}

h3 {
  text-align: center;
  max-height: 100%;
  color: var(--clr-100);
  font-family: var(--ff-main);
  font-size: 2rem;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  margin: 0;
}

.text-center {
  text-align: center;
}

/* .nav {
  position: absolute;
  top: 0;
  width: 100%;
} */

.headerBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 35px;
  width: 100%;
  height: 5vh;
}

.column {
  height: 95vh;
}

/* LIGHT AND DARK MODE COLORS */

.light {
background-color: var(--clr-100);
color: var(--clr-200);
}

.lightBorder {
  border-color: var(--clr-100);
}

.dark {
  background-color: var(--clr-200);
  color: var(--clr-100);
}

.darkBorder {
  border-color: var(--clr-200);
}

/* - - - - - - - - - - - - -  */

.row {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
  background-blend-mode: darken;
  background-image: url("apeximg/kc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--clr-100);
  border-style: solid;
  margin: 25px;
  border-radius: 50px;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.15);
  background-blend-mode: darken;
  background-image: url("apeximg/kc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--clr-100);
}

.full-size {
  height: 100%;
}

.items {
  display: flex;
  gap: 15px;
}

.dailyItems, .weeklyItems, .guns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dailyItem, .weeklyItem, .gun {
font-family: var(--ff-main);
background-color: rgba(0,0,0,0.8);
border-radius: 10px;
padding: 5px;
height: 50px;
width: 150px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
border: 3px solid var(--clr-200);
font-size: 20px;
color: white;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.itemImg {
  width: 40px;
  border-radius: 10px;
}

.gunImg {
  width: 75px;
  border-radius: 5px;
  height: 30px;
  object-fit: cover;
}

.footer {
  border-radius: 50px;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  border-style: solid;
  align-items: center;
  margin: 25px;
}

@media (forced-colors: active) {
  .footer h2 {
    color: var(--clr-200) !important;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 5rem;
    line-height: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  .row {
    flex-direction: row;
  }

  .full-size {
    height: 80%;
  }

  .column {
    width: calc(100% / 3);
  }

  .footer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 3rem;
    line-height: 1rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  h1 {
    font-size: 5rem;
    line-height: 1rem;
  }

  h3 {
    font-size: 3rem;
  }

  .row {
    flex-direction: row;
  }

  .column {
    width: calc(100% / 3);
  }

  .full-size {
    height: 80%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  h1 {
    font-size: 8rem;
    line-height: 8rem;
  }

  h2 {
    font-size: 3rem;
  }

  .column {
    width: 100%;
  }

  .full-size {
    height: 80%;
  }
}