/* Sign up styling */
.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    border-radius: 25px;
    margin: 0 auto;
    padding: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-100);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    max-height: 25rem;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 55px;
    font-size: 1.5rem;
    width: 15rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

form label {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 600;
}

form input {
    font-size: 1rem;
    height: 35px;
    margin-bottom: 25px;
    border-radius: 15px;
    border: 2px solid var(--color-accent-200);
    background-color: var(--color-bg-200);
    padding: 25px;
    font-family: var(--font-main);
    transition: border-color 0.2s ease;
}

form input:focus {
    border: 2px solid var(--color-accent-100);
    outline: none;
}

form .submitBtn {
    background-color: var(--color-accent-100);
    height: 55px;
    border: none;
    padding: 0;
    transition: background-color 0.2s ease, color 0.2s ease;
}

form .submitBtn:hover {
    background-color: var(--color-accent-200);
    cursor: pointer;
    color: var(--color-bg-200);
}

form a {
    margin-bottom: 5px;
}

/* End signup styling */

/* Media query styling */
@media only screen and (min-width: 1280px) {
    .form-container {
        padding: 25px;
    }

    .form-container h1 {
        font-size: 1.5rem;
    }

    form {
        width: 75%;
    }
}

@media only screen and (min-width: 768px) {
    .form-container {
        box-sizing: content-box;
        padding: 5rem;
    }

    .form-container h1 {
        font-size: 2rem;
    }

    form {
        width: 15rem;
    }
}